/* ------------------
 Font popin -------*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap");

/*---------------
   common style 
   ----------*/

body {
  margin: 0;
}
h3 {
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Poppins", sans-serif;
  color: gray;
}

/*---------------------
  Main Banner part
--------------------*/
.banner {
  background-color: rgba(10, 10, 185, 0.849);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  overflow: hidden;
}
.banner-title {
  color: white;
  margin-left: 10px;
  transition: transform 2s ease-in-out;
}
.banner-title:hover {
  transform: scale(1.2);
}
.banner-title h1 {
  margin: 0;
  font-family: "Poppins", sans-serif;

  font-size: 3rem;
}
.banner-btn {
  margin-top: 38px;
}
.banner-title a {
  background-color: rgb(250, 32, 141);
  text-decoration: none;
  color: white;
  padding: 5px 15px;
  border-radius: 10px;
}
.banner-img {
  width: 556px;
  height: 438px;
  margin-top: 67px;
}
.banner-img img {
  height: 338px;
  width: 400px;
  transition: transform 2s ease-in-out;
}
.banner-img:hover img {
  transform: rotate(30deg);
}

/* image section  */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 27px 30px;
  margin: 70px 0 20px 0;
}
.player {
  width: 330px;
  height: 474px;
  box-shadow: 3px 3px 8px gray;
  border-radius: 10px;
}
.player-img img {
  height: 256px;
  width: 300px;
  padding: 15px;
}
.player-desc {
  padding-left: 15px;
}
.player h3 {
  margin: 0;
}
.player p {
  margin: 5px;
}
/*---------------------
    footer part 
-------------------*/
footer {
  margin: 60px 0 60px 0;
}

.footer-img img {
  height: 120px;
  width: 400px;
}
.social-icon {
  margin-left: 10px;
}
.fab {
  padding: 10px;
  font-size: 20px;
  color: rgb(116, 107, 107);
  background-color: rgb(219, 218, 218);
  border-radius: 50%;
}
/*-------------
   media query
--------------*/

/* mobile device */
@media only screen and (max-width: 688px) {
  body {
    overflow-x: hidden;
  }
  .banner-title:hover {
    transform: scale(0.8);
  }
  .banner-title h1 {
    font-size: 2rem;
    padding: 10px 250px 0 0;
  }
  .match-img {
    margin-top: 0px;
    margin-bottom: 30px;
  }
  .match-img img {
    width: 330px;
    height: 274px;
  }
  .footer-img img {
    width: 300px;
  }
  .container,
  .banner {
    width: 100%;
  }
  .banner,
  .players,
  .highlights,
  .players-rating {
    grid-template-columns: repeat(1, 1fr);
  }
  .company-name a {
    padding: 5px 10px;
  }
  #tcl {
    font-size: 1rem;
    margin: 5px;
  }
  #kwai {
    font-size: 1rem;
    margin: 5px;
  }
  #betson {
    font-size: 1rem;
    margin: 5px;
  }
  #sinovac {
    font-size: 1rem;
    margin: 5px;
  }
}

/* tab  */
@media only screen and (min-width: 689px) and (max-width: 991px) {
  body {
    overflow-x: hidden;
  }
  .banner-title {
    padding-left: 20px;
  }
  .banner-title:hover {
    transform: scale(0.8);
  }
  .banner-title h1 {
    font-size: 1.7rem;
  }
  .banner-img img {
    margin-left: 120px;
  }
  .container,
  .banner {
    width: 100%;
  }
  .highlights {
    margin: 60px 20px;
  }
  .match-img img {
    width: 330px;
    height: 274px;
  }
  .banner,
  .players,
  .highlights,
  .players-rating {
    grid-template-columns: repeat(2, 1fr);
  }
  .banner-title {
    font-size: 1rem;
  }
}
